@scheme-dark: #0d1f2d;
@scheme-light: #ebf5df;
@scheme-pop: #71b340;
@scheme-alt-dark: #6a5837;
@scheme-alt-light: #bfb48f;

body {
  background-color: @scheme-light;
  color: @scheme-dark;
}

.sidebar {
  background-color: @scheme-alt-dark;
  color: @scheme-alt-light;
  padding: 25px;
}
