// VARIABLES

// 1. Colors
// ==========================================================================

$primary-color: #ff5722;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-lighter: lighten($primary-color, 40%);
$primary-color-dark: darken($primary-color, 15%);
$primary-color-darker: darken($primary-color, 40%);

$secondary-color: #186bbd;
$secondary-color-light: lighten($secondary-color, 15%);
$secondary-color-lighter: lighten($secondary-color, 40%);
$secondary-color-dark: darken($secondary-color, 15%);
$secondary-color-darker: darken($secondary-color, 40%);

$success-color: #034732;
$error-color: #E3170A;
$link-color: $secondary-color;


@import '../../node_modules/materialize-css/sass/materialize.scss';


.skills-collections {
    .chip {
        background-color: $secondary-color;
        margin: 10px;
        font-size: large;

        a {
            color: white;
        }

        &:hover {
            background-color: $secondary-color-light;
        }
    }
}

nav {
    a.brand-logo {
        padding-left: 20px;
    }
}

#nav-mobile.side-nav {
    li h4 {
        padding: 0px 20px;
    }
}

// // ABOUT ME STYLES
#headshot.card {
    margin-right: 20px;

    a {
        color: $secondary-color;

        &:hover {
            color: $secondary-color-light;
        }
    }
}

// // CANDLES STYLES
.candle {
    color: #ccc;

    &.lit {
        color: #ff5722; // don't change this if $primary-color changes
    }
}

.room {
    white-space: nowrap;
    overflow: auto;
}
