extends base.pug

block content
    .row
        .col-sm-3
            img.img-responsive.img-thumbnail(src="img/my_face.jpg" alt="Responsive image")
        .col-sm-9
            h1 Hello, Extended World!
            p
                | My old Django-based website was completely out of date (it was ~6
                | months old), so I just started over.  I'm building this one from
                | scratch with all new information and using new(er)-to-me technologies.
                | Right now I'm working on getting the back end configured and development
                | processes worked out so I have a nice place to do cool things on the internet.
            p
                | I'm planning to use this site as a place for me to put project work.
                | Right now I'm working through a course in algorithms and data structures,
                | and will use this site to host some of the work I do on that project.