doctype html
html(lang="en")

head
    include site_head

body
    include navbar

    .container
        .row
            .col.sm12.m4
                #headshot.card
                    .card-image
                        img(src="img/my_face.jpg")
                    .card-action.center-align
                        a(href="https://github.com/se42" target="_blank"): i.fa.fa-3x.fa-github
                        a(href="https://www.linkedin.com/in/scottedwards6" target="_blank"): i.fa.fa-3x.fa-linkedin
            .col-sm12.m8
                h2 About Me
                p.flow-text.
                    Software Engineer &mdash; Full Stack Web Technologies
                p.flow-text.
                    Got bored at work and taught myself how to code
                p.flow-text.
                    Goal is to deliver complete web apps on Linux
                p.
                    Growing up I was always your typical math and science kid, so
                    when I got into Georgia Tech it was an easy decision to go.
                    I majored in biochemistry but didn't think a PhD was right for
                    me at the time, so I went to Duke for the Master of Engineering
                    Management program and then worked for 5 years as the operations
                    manager in a small company building analytical scientific instruments.
                p.
                    Eventually I got pretty bored placing purchase orders and monitoring
                    inventory levels.  I kept hearing the engineers talking about
                    Python this and Python that, and since it sounded cool I secretly
                    started to teach myself about this Python thing.  At first it was
                    just the CodeCademy course, then it was a Udemy data science course,
                    then I started messing around with Django, then I started messing
                    around with Linux, and now I'm past the point of no return, deep
                    into the rabbit hole that is computer science.  And I love it.
                p.
                    Over the summer in 2016, I took some time off to
                    really commit to a new career, and at the end of August I started
                    my first job as a Jr. Software Engineer in a small biotech startup.
                    I learned a lot on my own over the summer, but working in a
                    professional environment has really inspired me to keep pushing
                    to see how far I can go with this new career.  I'm also an Ironman
                    finisher, so a big part of this is challenging myself to see how
                    far I can go.  That's something I never felt in operations management.
                p.
                    I'm drawn to full stack development rather than specializing in any
                    particular layer for two reasons:  I like the challenge, and I like
                    being able to deliver complete solutions.  When I say I like the
                    challenge, I don't mean to say that full stack development is any
                    more challenging than becoming a true expert in, say, front end
                    development.  What I mean is that I like the specific challenge that
                    full stack development presents.  I like figuring out how all of
                    the components of a system work together.  I like learning about
                    how each of those components does its specific job, and recognizing
                    common patterns the components share.  I've always been particularly
                    tuned in to the many things I don't know, and while this can be
                    paralyzing in some fields, I find it to be both a motivator and
                    a safe guard in full stack development:  it motivates me to always
                    be learning more, and helps me stay committed to writing code that
                    is clear in its purpose and conservative in its design.  I'm still
                    learning the best ways to do that, but I think the combination of
                    healthy doses of curiosity and conservative decision making makes
                    me a good fit for this job.
                p.
                    My goal now is to be able to deliver complete web applications
                    on Linux systems, so my interests lie in everything from system
                    configuration and devops to application code to producing a functional
                    UI, although I’m definitely not a designer.  That's why I built this
                    site more or less from scratch&mdash;it might not look like much,
                    but it's hopefully going to be an awesome place to do cool things
                    on the internet.

        include skills

    include site_foot
