extends base.pug

block content
    p.lead I built this site "from scratch" using many common web development tools:
    ul
        li Node.js
        li Express
        li Pug.js (Jade) Static Templating
        li Ractive.js Reactive Templating
        li Bootstrap & Less
        li Nginx
        li Ubuntu
        li DigitalOcean
    p The code is available on my Github in the
        a(href="https://github.com/se42/nodesite")  nodesite repository