.row
    .col-sm-12
        .panel.panel-default
            .panel-heading
                .row
                    .col-sm-12
                        h2 Simulation Control Panel
            .panel-body
                .row
                    form#control-panel
                        .col-sm-3
                            .form-group
                                label(for="size") Size of Grid
                                input.form-control#size(type="number" value="{{size}}" on-change="resetSimulation")
                        .col-sm-3
                            .form-group
                                label(for="mode") Simulation Mode
                                select.form-control#mode(value="{{selectedMode}}" on-change="resetSimulation")
                                    | {{#each modes}}
                                    option(value="{{this}}") {{display}}
                                    | {{/each}}
                        .col-sm-3
                            .form-group
                                label(for="global-speed") Global Speed
                                select.form-control#global-speed(value="{{globalSpeed}}")
                                    | {{#each globalSpeeds}}
                                    option(value="{{value}}") {{display}}
                                    | {{/each}}
                .row
                    .col-sm-5.text-center
                        p
                            strong Time to Light Candle (seconds)
                        .col-sm-6
                            .form-group
                                label(for="candle-seconds-min") Min
                                input.form-control#candle-seconds-min(type="number" value="{{candleSecondsMin}}")
                        .col-sm-6
                            .form-group
                                label(for="candle-seconds-max") Max
                                input.form-control#candle-seconds-max(type="number" value="{{candleSecondsMax}}")
                        .col-sm-6.col-sm-offset-3
                            .form-group
                                button.btn.btn-primary.btn-block(on-click="resetCandleTiming") Defaults
                    .col-sm-5.text-center
                        p
                            strong Reset Global Usher Movement Interval (seconds)
                        .col-sm-6
                            .form-group
                                label(for="usher-seconds-min") Min
                                input.form-control#usher-seconds-min(type="number" value="{{usherSecondsMin}}" on-change="setGlobalUsherMin")
                        .col-sm-6
                            .form-group
                                label(for="usher-seconds-max") Max
                                input.form-control#usher-seconds-max(type="number" value="{{usherSecondsMax}}" on-change="setGlobalUsherMax")
                        .col-sm-6.col-sm-offset-3
                            .form-group
                                button.btn.btn-primary.btn-block(on-click="resetGlobalUsherTiming") Defaults
            .panel-footer
                .row
                    .col-sm-2
                        .form-group
                            button.btn.btn-success.btn-block(on-click="resetSimulation") Restart
.row
    .col-sm-12
        | {{#each grid as row}}
        | {{#each row}}
        | {{#if candle.isLit}}
        i(class="{{repr}}" aria-hidden="true" lit)
        | {{else}}
        i(class="{{repr}}" aria-hidden="true")
        | {{/if}}
        | {{/each}}
        br
        | {{/each}}
