extends base

block content
    .row
        .col-xs-12
            p Notes to describe
            ul
                li Pug/Ractive integration
                ul
                    li Reference https://tribex.github.io/out/blog/posts/Using%20Jade%20With%20Ractive.js.html
                    li note the need to use | so Pug correctly interprets Ractive/Mustache markup
                li Reminder that taking the time to really read the docs is always a good decision
                li Fun to do a project from scratch and run into problems that I've been using
                    |  the solutions to without even knowing it
                li Also fun to get to wire together my own stack--I'm learning how nice it is
                    |  to be able to wire up a few unopinionated libraries, but you simply have
                    |  to read the docs!  A really good framework can be nice (e.g. Django)
                    |  but is really hard to do.
                li Yet ANOTHER reminder that anything called magic mode is usually
                    |  NOT what I'm looking for
            ul
                li "One Blind Move" method has a tendency to get stuck but will occasionally work out of a jam
                li Introducing the pause for candle lighting <i>really</i> messes with the one blind move algorithm as the other ushers just pile into the surrounding blocks leading <strong>most</strong> runs to deadlock

    .row
        .col-xs-12
            .room
                script#candles-template(type="text/ractive")
                    include candles-template
                #candles-visualization

block scripts-foot
    script(src="js/candles.js")
