h3 Candle Lighting Visualization (N = {{size}})
h4 Number of candles:  {{numOfCandlesToLight}}

| {{#each grid as row}}
| {{#each row}}
| {{#if candle.isLit}}
i(class="{{repr}}" aria-hidden="true" lit)
| {{else}}
i(class="{{repr}}" aria-hidden="true")
| {{/if}}
| {{/each}}
br
| {{/each}}