//- jQuery
script(
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"
)

//- Materialize JavaScript
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")

//- Underscore Library
script(src="js/underscore-min.js")

//- Base Custom JavaScript
script(src="js/base.js")
