.row
    .col-sm-12.text-center
        h1 Skills &amp; Tools
        p.lead * indicates those used in this site

.row.tools-used.text-center
    .col-sm-6
        h2 Languages &amp; Frameworks
        p: a.btn.btn-default(role="button" href="http://coffeescript.org/" target="_blank") CoffeeScript
        p: a.btn.btn-default(role="button" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank") JavaScript*
        p: a.btn.btn-default(role="button" href="https://www.meteor.com/" target="_blank") Meteor
        p: a.btn.btn-default(role="button" href="https://www.python.org/" target="_blank") Python
        p: a.btn.btn-default(role="button" href="https://www.djangoproject.com/" target="_blank") Django
        p: a.btn.btn-default(role="button" href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank") HTML*
        p: a.btn.btn-default(role="button" href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank") CSS*
        p: a.btn.btn-default(role="button" href="http://lesscss.org/" target="_blank") Less*
    .col-sm-6
        h2 Server Tools
        p: a.btn.btn-default(role="button" href="https://nodejs.org/en/" target="_blank") Node.js*
        p: a.btn.btn-default(role="button" href="http://expressjs.com/" target="_blank") Express.js*
        p: a.btn.btn-default(role="button" href="https://www.mongodb.com/" target="_blank") MongoDB
        p: a.btn.btn-default(role="button" href="https://www.postgresql.org/" target="_blank") PostgreSQL
        p: a.btn.btn-default(role="button" href="https://www.nginx.com/resources/admin-guide/" target="_blank") Nginx*
        p: a.btn.btn-default(role="button" href="https://letsencrypt.org/" target="_blank") LetsEncrypt*
        p: a.btn.btn-default(role="button" href="https://www.ubuntu.com/" target="_blank") Ubuntu*
        p: a.btn.btn-default(role="button" href="https://www.digitalocean.com/" target="_blank") DigitalOcean*
    .clearfix
    .col-sm-6
        h2 Front End Tools
        p: a.btn.btn-default(role="button" href="https://pugjs.org/" target="_blank") Pug/Jade Static Templates*
        p: a.btn.btn-default(role="button" href="http://www.ractivejs.org/" target="_blank") Ractive Reactive Templates*
        p: a.btn.btn-default(role="button" href="http://getbootstrap.com/" target="_blank") Bootstrap*
        p: a.btn.btn-default(role="button" href="https://jquery.com/" target="_blank") jQuery (*lightly)
    .col-sm-6
        h2 Dev Tools
        p: a.btn.btn-default(role="button" href="https://git-scm.com/" target="_blank") Git*
        p: a.btn.btn-default(role="button" href="https://github.com/" target="_blank") GitHub*
        p: a.btn.btn-default(role="button" href="https://bitbucket.org/" target="_blank") Bitbucket
        p: a.btn.btn-default(role="button" href="https://www.atlassian.com/software/jira" target="_blank") Jira
        p: a.btn.btn-default(role="button" href="https://www.atlassian.com/software/confluence" target="_blank") Confluence
        p: a.btn.btn-default(role="button" href="https://mochajs.org/" target="_blank") Mocha Test Runner
        p: a.btn.btn-default(role="button" href="http://chaijs.com/" target="_blank") Chai Test Library
